* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
border: radius 10px;
height: 500 px;
background-color: white
padding: 5px;
}

img {
  border-radius: 10px;
  width: 150px;

}

h2{
  text-transform: uppercase;
}


.myaccount {
  color: gray;
}

button {
  border: none;
  background-color: white;
  color:rgb(0, 183, 255);
  padding: 0;
}